body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p{
    cursor: default;
}

a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/background_header/img1.png) no-repeat;
    background-size: cover;
    height: 150vh;
    width: 100%;
    position: relative;
}

.layer-on-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    z-index: 0;
    opacity: .8;
}

.logo{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

#logo{
    border-radius: 150px;
    transition-duration: 1s;
}

.logo-animate{
    box-shadow: white 0 0 100px;
    transform: rotate(310deg);
    transition-duration: 0.5s;
}

#logo:hover{
    cursor: pointer;
    box-shadow: white 0 0 100px;
    transform: rotate(310deg);
    transition-duration: 1s;
}

.start{
    transform: rotate(360deg);
}

.opacity{
    opacity: .0;
    transition-duration: 3s;
}

.padding{
    height: 30vh;
}

header h1{
    cursor: default;
    position: relative;
    bottom: -200px;
    margin: 0;
    font-size: 49px;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: 30vh;
}

.order{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-order{
    position: relative;
    top: 240px;
    border-radius: 3px;
    border: solid 1px gray;
    box-shadow: #404040 0 1px 3px;
    z-index: 4;
    margin-top: -250px;
    width: 400px;
    height: 470px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block-order .block-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82%;
    height: 30%;
}

.order .information{
    display: flex;
    width: 90%;
    height: 100%;
    background-color: #1e64ab;
}

.block-order .block-input input{
    width: 90%;
    height: 40%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10%;
    border-radius: 5px;
    border: solid 1px gray;
    outline: none;
}

.block-order .block-input input:focus{
    box-shadow: gray 0 0 10px;
}

.block-order .img-block{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.block-order .img-block .row-1, .block-order .img-block .row-2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-block img{
    width: 100%;
    height: 50px;
}

.block-order p{
    width: 70%;
    height: 10%;
    text-align: center;
    font-size: 20px;
    color: gray;
}

.block-order .link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 70%;
}

.block-order .link a{
    border-radius: 5px;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 10px;
    background-color: #227dd3;
    transition-duration: 1s;
}

.block-order .link a:hover{
    background-color: #1e64ab;
    transition-duration: 1s;
}

.block-order .link a:active{
    background-color: #16497c;
    transition-duration: 1s;
}

.block-information{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
}

.information{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1240px;
}

.flex-block{
    display: flex;
    align-items: center;
    width: 40%;
}

.flex-block img{
    margin-top: 15px;
    margin-left: 15px;
    transition-duration: 1s;
}

.flex-block img:hover{
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    transform: rotate(-15deg);
    transition-duration: 1s;
}

.text-information{
    height: 100%;
    margin-left: 20px;
}

.text-information h3{
    margin-top: 50px;
    font-size: 27px;
}

.text-information p{
    margin-top: -10px;
    font-size: 14px;
}

#documents{
    position: relative;
    margin-left: -50%;
}

#photos{
    position: relative;
    margin-right: -50%;
}

.about{
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1400px;
    background-color: #5fc18b;
    position: relative;
}

.block-about-1{
    position: relative;
    top: 500px;
    z-index: 5;
    width: 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}

.block-about-1 h1{
    font-size: 40px;
}

.block-about-1 p{
    font-size: 14px;
}

.block-about-2{
    top: 500px;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 75%;
}

.block-about-2 .text-block-about-2{
    margin-left: 50px;
    color: white;
}

.block-about-2 .text-block-about-2 h1{
    font-size: 40px;
}

.block-about-2 .text-block-about-2 p{
    font-size: 14px;
    margin-bottom: 30px;
}

.block-about-2 .text-block-about-2 a{
    font-size: 34px;
    border: solid 3px white;
    border-radius: 10px;
    padding: 5px 30px;
    color: white;
    transition-duration: 1s;
}

.block-about-2 .text-block-about-2 a:hover{
    transition-duration: 1s;
    background-color: #338252
}

.about-layer-1{
    z-index: 2;
    transform-origin: center center;
    transform: rotate(-10deg);
    background-color: #44a36f;
    position: absolute;
    width: 200%;
    height: 1000px;
    top: 1400px;
    left: -50%;
}

.about-layer-2{
    z-index: 1;
    transform-origin: center center;
    transform: rotate(-12deg);
    background-color: #308355;
    position: absolute;
    width: 200%;
    height: 1000px;
    top: 700px;
    left: -50%;
}

.about img{
    transition-duration: 0.5s;
}

.about img:hover{
    cursor: pointer;
    transform: rotate(-10deg);
    transition-duration: 0.5s;
}

.map-form{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map{
    position: relative;

    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.form{
    border-radius: 100%;
    z-index: 10;
    position: relative;
    margin-top: -550px;
    width: 0;
    height: 0;
    border: solid 1px rgba(128, 128, 128, 0.53);
    background-color: rgba(255, 255, 255, 0.84);
}

form{
    padding-top: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    font-family: 'Open Sans', sans-serif;
    padding-left: 3%;
    font-size: 14px;
    height: 30px;
    margin-bottom: 20px;
    width: 62%;
}

form textarea{
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 2% 3%;
    width: 60%;
}

form textarea a{
    font-size: 40px;
}

.icon{
    filter: brightness(100%);
    border-radius: 100%;
    padding: 10px 10px;
    margin-top: 40px;
    background-color: #41af71;
    width: 50px;
    height: 50px;
}

footer{
    font-family: 'Open Sans', sans-serif;
    background-color: #41AF71;
    margin-top: 30px;
    padding-top: 25px;
    height: 24px;
    width: 100%;
    font-size: 12px;
    color: white;
    text-align: center;
}